.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.login{
    border: 2px solid gray;
    padding: 6px 8px 8px 8px;
    border-radius: 15px;
}
h1{
    padding-left: 130px;
}